<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성폼</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : auto;
    }

    .layout input {
        width : 100%;
        box-sizing : border-box;
    }

    .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height: 200px;
    }

</style>
<body>
<div class="layout">
    <form action="/board/writepro" method="post" enctype="multipart/form-data">
        <input name="name" type="text" placeholder="작성자">
        <input name="title" type="text" placeholder="제목">
        <input name="date" type="LocalDateTime" placeholder="작성일">
        <textarea name="content"></textarea>
        <input type="file" name="file">
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>